html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;



}
#offer_table,thead,th{
    color: #ffffff;
    background-color: #428bca;

}



#offer_table,tbody,td{
    color: #0f0f0f;
}
.text-center{
    color:#428bca;
}
.btn{
    width: 100px;
}

.form-control{
    width: 200px;
    margin-bottom: 8px;
}

.btnAdd{
    margin-left: 85%;
    width: 200px;
    color: white;
    background-color: #428bca;
}

.delBtn{
    margin-left: auto;
    width: 100px;
    color: white;
    background-color: #428bca;
}
.buttonAdd{
    margin-left: 85%;
    margin-top: 14px;
    width: 200px;
    color: white;
    background-color: #428bca;
}

.updBtn{
    margin-left: auto;
    margin-top: 12px;
    width: 100px;
    color: white;
    background-color: #428bca;

}
.btnAddHref{
    text-decoration: none;
    color: white;
}

.background-image{
    background-image : url("home.jpg");
    background-size: cover;
    display: block;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    height: 800px;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 0;
}
#content{
    width: 100%;
    height: 100%;
    position: fixed;



    z-index: 2;
}
.form-margin {
    margin-left: 42%;
}

/*
#ofference-hide {
    display: none;
}*/
